https://www.w3resource.com/python-exercises/python-basic-exercises.php

In [ ]:
print("Twinkle, twinkle, little star")
print("        How I wonder what you are!")
print("              Up above the world so high,")
print("              Like a diamond in the sky. ")
print("Twinkle, twinkle, little star,")
print("        How I wonder what you are")

Twinkle, twinkle, little star
        How I wonder what you are!
              Up above the world so high,
              Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are

In [ ]:
print("Twinkle, twinkle, little star,	\n \t How I wonder what you are! \n \t \t Up above the world so high, \n \t \t Like a diamond in the sky. \n Twinkle, twinkle, little star, \n \t How I wonder what you are")

Twinkle, twinkle, little star,
 	 How I wonder what you are!
 	 	 Up above the world so high,
 	 	 Like a diamond in the sky.
 Twinkle, twinkle, little star,
 	 How I wonder what you are

In [ ]:

import math
pi = math.pi
print("write a radius")
radius = float (input(""))
area = pi*(radius**2)
print (area)

write a radius
1.8
10.17876019763093

In [ ]:
user_first_name = input("write your first name ")
user_last_name = input("write your last name ")
print(user_last_name, user_first_name)

In [ ]:
user_name = input("Enter your full name: ")
user_name_list = user_name.split()
print( user_name_list[-1], user_name_list[0] )

Enter your full name: Joseph Ellaway
Ellaway Joseph

In [ ]:
user_numbers = input("Enter some comma-separated numbers: ")

user_numbers = user_numbers.replace(' ', '')

user_numbers_list = user_numbers.split(',')

user_numbers_tuple = tuple(user_numbers_list)

print( user_numbers_list )
print( user_numbers_tuple )

Enter some comma-separated numbers: 1, 2, 3, 4
['1', '2', '3', '4']
('1', '2', '3', '4')